body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei","微软雅黑",sans-serif;
    background-color: #e6e6de;
}

.index_top{
    width: 100%;
    height: 60px;
    background-color: #333333;
    color:white;
}

.index_top_left{
    display: inline-block;  /*行内块级元素，这样不用像块级元素那样必须换行，两个行内块级元素还能在同一行*/
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.index_top_right{
    display: inline-block;
    float: right;   /*行内块级元素向右浮动，不再待在第一个行内块级元素下面*/
    /*height: 60px;*/
    /*line-height: 60px;  !*盒子高度height=行高line-height可以让文字在方框里垂直居中*!*/
    margin-top: 14px;
    margin-right: 20px;
}

.log_out_btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    background-color: black;
    padding: 8px 15px; /*两个数字，第一个数字是上下，第二个数字是左右，四个数字的话就是上右下左，三个数字的话上，左右，下*/
    border-radius: 4px;
}

.log_out_btn:hover{
    background-color: #292828;
}

.log_out_btn:active{
    background-color: black;
}

.left_side_bar{
    width: 200px;
    height: 100vh;  /*视口高度，根据不同浏览器自由调整占据高度百分比*/
    background-color: #2b303b;
    float: left; /*导航栏向左浮动，右边留白*/
}

.index_top_left_title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #999999;
    background-color: #21252b;
    font-size: 14px;
    border-bottom: 1px solid #3e444e;
}

.index_top_left_item_index,
.index_top_left_item_empmanage {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #dd0c94;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #3e444e;
}

.index_top_left_item_index,
.index_top_left_item_empmanage:hover {
    background-color: #5d9ab5;
}

.index_top_left_item_index:active,
.index_top_left_item_empmanage:active {
    background-color: #286fd8;
    position: relative;
    top: 4px;
}

.register_tips{
    position: relative;
    left: 260px;
    bottom: 47px;
}

.index_title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: "新宋体", sans-serif;
    color: #333;
    margin-bottom: 40px;
}

.right_content_area{
    margin-left: 200px;
    height: 100vh;
    background-color: white;
    padding: 30px;
}

/*.index_img,.index_img_1,.index_img_2,.index_img_3,*/
/*.index_img_4,.index_img_5,.index_img_6{*/
/*    display: inline-block;*/
/*}*/

.index_right_big_circle{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;
}

.circle_text{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #008cff;
    color: white;
    line-height: 150px;
    text-align: center;
    border-radius: 50%;
    top: 125px;
    left: 125px;
}

/*.index_img_title{*/
/*    position: absolute; !*绝对定位是什么？为了把它放在一个大容器里边，让里边所有的小元素听从统一指挥*!*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 50%;*/
/*    border: 3px solid white;*/
/*}*/

.index_img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -10px;
    left: 160px;
    border: 3px solid deepskyblue;
}

.index_img_1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 70px;
    left: -60px;
    border: 3px solid deepskyblue;
}
.index_img_2{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 70px;
    left: 100px;
    border: 3px solid deepskyblue;

}
.index_img_3{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 297px;
    left: -191px;
    border: 3px solid deepskyblue;

}
.index_img_4{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 205px;
    left: 230px;
    border: 3px solid deepskyblue;

}
.index_img_5{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 109px;
    left: -90px;
    border: 3px solid deepskyblue;

}
.index_img_6{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 104px;
    left: 131px;
    border: 3px solid deepskyblue;
}