<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>齐子豪的员工管理系统首页</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<div class="index_top">

  <div class="index_top_left">
    齐子豪的员工管理系统
  </div>

  <div class="index_top_right">
    <a href="login.html" class="log_out_btn">注销</a>
  </div>

</div>

<div class="left_side_bar">

    <div class="index_top_left_title">菜单</div>
    <!--      栏目-->
    <a href="#" class="index_top_left_item_index">首页</a>
    <a href="dashboard.html" class="index_top_left_item_empmanage">员工管理</a>

</div>


<div class="right_content_area">

    <span class="index_title">
        欢迎来到齐子豪的员工管理系统首页！！
    </span>
    <!--准备做个大圆圈容器放图片，说明我学习了什么技术，然后做这个项目都用到了什么技术-->
    <div class="index_right_big_circle">
        <!--中间的文字-->
        <div class="circle_text">员工管理系统</div>
        <!--技术图标-->
        <div class="index_img_title">
            <img src="../static/img/img.png" alt="图片加载失败！！" class="index_img">
            <img src="../static/img/img_1.png" alt="图片加载失败！！"class="index_img_1">
            <img src="../static/img/img_2.png" alt="图片加载失败！！"class="index_img_2">
            <img src="../static/img/img_3.png" alt="图片加载失败！！"class="index_img_3">
            <img src="../static/img/img_4.png" alt="图片加载失败！！"class="index_img_4">
            <img src="../static/img/img_5.png" alt="图片加载失败！！"class="index_img_5">
            <img src="../static/img/img_6.png" alt="图片加载失败！！"class="index_img_6">
        </div>

    </div>

</div>

</body>
</html>